/* styles */
#root {
  background-color: #eaebef;
}

a {
  color: #3b5998;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #3b5998;
  border-color: #3b5998;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-item {
  color: #fff !important;
  text-decoration: none;
}

.btn-width-100 {
  width: 100%;
}

.btn-register {
  width: 40% !important;
  background-color: #42b72a !important;
  outline: none !important;
  border-style: none !important;
  color: #fff;
}

.center-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-border {
  border: 1px black solid;
  border-radius: 10px;
}

.border {
  border: 1px #c2c2c2 solid !important;
  border-radius: 2px !important;
}

.text-line {
  width: 98%;
  text-align: center;
  border-bottom: 1px solid rgb(218, 218, 218);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.text-line span {
  background: #fff;
  padding: 0 10px;
}

.login-form-width {
  width: 450px;
}

.registration-successful, .msgSuccess {
  color: rgb(45, 175, 6) !important;
  font-weight: 600;
}

.btn-green {
  background-color: rgb(45, 175, 6) !important;
}

.msgFail {
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.like-pressed {
  color: rgb(5, 61, 216) !important;
}

.inline {
  display: inline;
}

.header-btn-light {
  background-color: #ebebeb !important;
  border: 2px solid rgb(175, 175, 175) !important;
  border-radius: 3px !important;
  max-height: 35.2px;
}

.header-btn-blue {
  background-color: #3b5998 !important;
  color: #fff !important;
  border: 2px solid #3b5998 !important;
  border-radius: 3px !important;
  max-height: 35.2px;
}

.component-bg {
  background-color: #fff;
}

.brief-img-border {
  border-radius: 50%;
  border-color: #fff !important;
  border-width: 3px !important;
}

.fontsize-small {
  font-size: calc(0.65rem + .3vw) !important;
}

.fontsize-small-title {
  font-size: calc(0.9rem + .3vw);
  font-weight: 400;
}

.like-pressed {
  color: blue;
}